In [1]:
import pandas as pd
import numpy as np

In [2]:
titanic = pd.read_csv("titanic.csv")

In [3]:
titanic.head()

   survived  pclass     sex   age  sibsp  parch     fare embarked deck
0         0       3    male  22.0      1      0   7.2500        S  NaN
1         1       1  female  38.0      1      0  71.2833        C    C
2         1       3  female  26.0      0      0   7.9250        S  NaN
3         1       1  female  35.0      1      0  53.1000        S    C
4         0       3    male  35.0      0      0   8.0500        S  NaN

In [4]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
survived    891 non-null int64
pclass      891 non-null int64
sex         891 non-null object
age         714 non-null float64
sibsp       891 non-null int64
parch       891 non-null int64
fare        891 non-null float64
embarked    889 non-null object
deck        203 non-null object
dtypes: float64(2), int64(4), object(3)
memory usage: 62.7+ KB

In [5]:
titanic["age"]

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
5       NaN
6      54.0
7       2.0
8      27.0
9      14.0
10      4.0
11     58.0
12     20.0
13     39.0
14     14.0
15     55.0
16      2.0
17      NaN
18     31.0
19      NaN
20     35.0
21     34.0
22     15.0
23     28.0
24      8.0
25     38.0
26      NaN
27     19.0
28      NaN
29      NaN
       ...
861    21.0
862    48.0
863     NaN
864    24.0
865    42.0
866    27.0
867    31.0
868     NaN
869     4.0
870    26.0
871    47.0
872    33.0
873    47.0
874    28.0
875    15.0
876    20.0
877    19.0
878     NaN
879    56.0
880    25.0
881    33.0
882    22.0
883    28.0
884    25.0
885    39.0
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: age, Length: 891, dtype: float64

In [6]:
type(titanic["age"])

pandas.core.series.Series

In [7]:
titanic["age"].equals(titanic.age)

True

In [8]:
age = titanic["age"]

In [9]:
age.head()

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
Name: age, dtype: float64

In [10]:
age.tail()

886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: age, dtype: float64

In [11]:
age.dtype

dtype('float64')

In [12]:
age.info()

AttributeError: 'Series' object has no attribute 'info'

In [13]:
age.shape

(891,)

In [14]:
len(age)

891

In [15]:
age.index

RangeIndex(start=0, stop=891, step=1)

In [17]:
age.describe()

count    714.000000
mean      29.699118
std       14.526497
min        0.420000
25%       20.125000
50%       28.000000
75%       38.000000
max       80.000000
Name: age, dtype: float64

# Analyzing Numerical Series

In [19]:
age.dtype

dtype('float64')

In [20]:
age.count()

714

In [21]:
age.size

891

In [22]:
len(age)

891

In [23]:
age.sum()

21205.17

In [24]:
sum(age)

nan

In [25]:
age.sum(skipna=True)

21205.17

In [26]:
age.mean()

29.69911764705882

In [27]:
age.mean(skipna=False)

nan

In [28]:
age.std()

14.526497332334044

In [29]:
age.max()

80.0

In [30]:
age.ptp()

C:\Users\HP\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  """Entry point for launching an IPython kernel.

79.58

In [31]:
np.ptp(age)

C:\Users\HP\Anaconda3\lib\site-packages\numpy\core\fromnumeric.py:2389: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

79.58

In [32]:
age.median()

28.0

In [33]:
age.min()

0.42

In [34]:
age.median()

28.0

In [35]:
age.unique()

array([22.  , 38.  , 26.  , 35.  ,   nan, 54.  ,  2.  , 27.  , 14.  ,
        4.  , 58.  , 20.  , 39.  , 55.  , 31.  , 34.  , 15.  , 28.  ,
        8.  , 19.  , 40.  , 66.  , 42.  , 21.  , 18.  ,  3.  ,  7.  ,
       49.  , 29.  , 65.  , 28.5 ,  5.  , 11.  , 45.  , 17.  , 32.  ,
       16.  , 25.  ,  0.83, 30.  , 33.  , 23.  , 24.  , 46.  , 59.  ,
       71.  , 37.  , 47.  , 14.5 , 70.5 , 32.5 , 12.  ,  9.  , 36.5 ,
       51.  , 55.5 , 40.5 , 44.  ,  1.  , 61.  , 56.  , 50.  , 36.  ,
       45.5 , 20.5 , 62.  , 41.  , 52.  , 63.  , 23.5 ,  0.92, 43.  ,
       60.  , 10.  , 64.  , 13.  , 48.  ,  0.75, 53.  , 57.  , 80.  ,
       70.  , 24.5 ,  6.  ,  0.67, 30.5 ,  0.42, 34.5 , 74.  ])

In [36]:
len(age.unique())

89

In [37]:
age.nunique()

88

In [38]:
age.value_counts()

24.00    30
22.00    27
18.00    26
19.00    25
30.00    25
28.00    25
21.00    24
25.00    23
36.00    22
29.00    20
32.00    18
27.00    18
35.00    18
26.00    18
16.00    17
31.00    17
20.00    15
33.00    15
23.00    15
34.00    15
39.00    14
17.00    13
42.00    13
40.00    13
45.00    12
38.00    11
50.00    10
2.00     10
4.00     10
47.00     9
         ..
71.00     2
59.00     2
63.00     2
0.83      2
30.50     2
70.00     2
57.00     2
0.75      2
13.00     2
10.00     2
64.00     2
40.50     2
32.50     2
45.50     2
20.50     1
24.50     1
0.67      1
14.50     1
0.92      1
74.00     1
34.50     1
80.00     1
12.00     1
36.50     1
53.00     1
55.50     1
70.50     1
66.00     1
23.50     1
0.42      1
Name: age, Length: 88, dtype: int64

In [39]:
age.value_counts(dropna=True)

24.00    30
22.00    27
18.00    26
19.00    25
30.00    25
28.00    25
21.00    24
25.00    23
36.00    22
29.00    20
32.00    18
27.00    18
35.00    18
26.00    18
16.00    17
31.00    17
20.00    15
33.00    15
23.00    15
34.00    15
39.00    14
17.00    13
42.00    13
40.00    13
45.00    12
38.00    11
50.00    10
2.00     10
4.00     10
47.00     9
         ..
71.00     2
59.00     2
63.00     2
0.83      2
30.50     2
70.00     2
57.00     2
0.75      2
13.00     2
10.00     2
64.00     2
40.50     2
32.50     2
45.50     2
20.50     1
24.50     1
0.67      1
14.50     1
0.92      1
74.00     1
34.50     1
80.00     1
12.00     1
36.50     1
53.00     1
55.50     1
70.50     1
66.00     1
23.50     1
0.42      1
Name: age, Length: 88, dtype: int64

In [40]:
age.value_counts(dropna=False)

NaN      177
24.00     30
22.00     27
18.00     26
28.00     25
19.00     25
30.00     25
21.00     24
25.00     23
36.00     22
29.00     20
32.00     18
26.00     18
35.00     18
27.00     18
16.00     17
31.00     17
34.00     15
23.00     15
33.00     15
20.00     15
39.00     14
17.00     13
42.00     13
40.00     13
45.00     12
38.00     11
50.00     10
2.00      10
4.00      10
        ...
28.50      2
63.00      2
0.83       2
30.50      2
70.00      2
57.00      2
0.75       2
13.00      2
59.00      2
10.00      2
64.00      2
40.50      2
45.50      2
32.50      2
20.50      1
24.50      1
0.67       1
70.50      1
0.92       1
74.00      1
34.50      1
14.50      1
80.00      1
12.00      1
53.00      1
36.50      1
55.50      1
66.00      1
23.50      1
0.42       1
Name: age, Length: 89, dtype: int64

In [44]:
age.value_counts(dropna=True, sort=True, ascending=False)

24.00    30
22.00    27
18.00    26
19.00    25
30.00    25
28.00    25
21.00    24
25.00    23
36.00    22
29.00    20
32.00    18
27.00    18
35.00    18
26.00    18
16.00    17
31.00    17
20.00    15
33.00    15
23.00    15
34.00    15
39.00    14
17.00    13
42.00    13
40.00    13
45.00    12
38.00    11
50.00    10
2.00     10
4.00     10
47.00     9
         ..
71.00     2
59.00     2
63.00     2
0.83      2
30.50     2
70.00     2
57.00     2
0.75      2
13.00     2
10.00     2
64.00     2
40.50     2
32.50     2
45.50     2
20.50     1
24.50     1
0.67      1
14.50     1
0.92      1
74.00     1
34.50     1
80.00     1
12.00     1
36.50     1
53.00     1
55.50     1
70.50     1
66.00     1
23.50     1
0.42      1
Name: age, Length: 88, dtype: int64

In [45]:
age.value_counts(dropna = True, sort = True, ascending = False, normalize = True)

24.00    0.042017
22.00    0.037815
18.00    0.036415
19.00    0.035014
30.00    0.035014
28.00    0.035014
21.00    0.033613
25.00    0.032213
36.00    0.030812
29.00    0.028011
32.00    0.025210
27.00    0.025210
35.00    0.025210
26.00    0.025210
16.00    0.023810
31.00    0.023810
20.00    0.021008
33.00    0.021008
23.00    0.021008
34.00    0.021008
39.00    0.019608
17.00    0.018207
42.00    0.018207
40.00    0.018207
45.00    0.016807
38.00    0.015406
50.00    0.014006
2.00     0.014006
4.00     0.014006
47.00    0.012605
           ...
71.00    0.002801
59.00    0.002801
63.00    0.002801
0.83     0.002801
30.50    0.002801
70.00    0.002801
57.00    0.002801
0.75     0.002801
13.00    0.002801
10.00    0.002801
64.00    0.002801
40.50    0.002801
32.50    0.002801
45.50    0.002801
20.50    0.001401
24.50    0.001401
0.67     0.001401
14.50    0.001401
0.92     0.001401
74.00    0.001401
34.50    0.001401
80.00    0.001401
12.00    0.001401
36.50    0.001401
53.00    0.001401
55.50    0.001401
70.50    0.001401
66.00    0.001401
23.50    0.001401
0.42     0.001401
Name: age, Length: 88, dtype: float64

In [46]:
age.value_counts(dropna = True, sort = True, ascending = False, bins=5).head()

(16.336, 32.252]    346
(32.252, 48.168]    188
(0.339, 16.336]     100
(48.168, 64.084]     69
(64.084, 80.0]       11
Name: age, dtype: int64

In [47]:
!conda list

# packages in environment at C:\Users\HP\Anaconda3:
#
# Name                    Version                   Build  Channel
_ipyw_jlab_nb_ext_conf    0.1.0                    py37_0
alabaster                 0.7.12                   py37_0
anaconda                  2019.07                  py37_0
anaconda-client           1.7.2                    py37_0
anaconda-navigator        1.9.7                    py37_0
anaconda-project          0.8.3                      py_0
asn1crypto                0.24.0                   py37_0
astroid                   2.2.5                    py37_0
astropy                   3.2.1            py37he774522_0
atomicwrites              1.3.0                    py37_1
attrs                     19.1.0                   py37_1
babel                     2.7.0                      py_0
backcall                  0.1.0                    py37_0
backports                 1.0                        py_2
backports.functools_lru_cache 1.5                        py_2
backports.os              0.1.1                    py37_0
backports.shutil_get_terminal_size 1.0.0                    py37_2
backports.tempfile        1.0                        py_1
backports.weakref         1.0.post1                  py_1
beautifulsoup4            4.7.1                    py37_1
bitarray                  0.9.3            py37he774522_0
bkcharts                  0.2                      py37_0
blas                      1.0                         mkl
bleach                    3.1.0                    py37_0
blosc                     1.16.3               h7bd577a_0
bokeh                     1.2.0                    py37_0
boto                      2.49.0                   py37_0
bottleneck                1.2.1            py37h452e1ab_1
bzip2                     1.0.8                he774522_0
ca-certificates           2019.5.15                     0
certifi                   2019.6.16                py37_0
cffi                      1.12.3           py37h7a1dbc1_0
chardet                   3.0.4                    py37_1
click                     7.0                      py37_0
cloudpickle               1.2.1                      py_0
clyent                    1.2.2                    py37_1
colorama                  0.4.1                    py37_0
comtypes                  1.1.7                    py37_0
conda                     4.7.10                   py37_0
conda-build               3.18.8                   py37_0
conda-env                 2.6.0                         1
conda-package-handling    1.3.11                   py37_0
conda-verify              3.4.2                      py_1
console_shortcut          0.1.1                         3
contextlib2               0.5.5                    py37_0
cryptography              2.7              py37h7a1dbc1_0
curl                      7.65.2               h2a8f88b_0
cycler                    0.10.0                   py37_0
cython                    0.29.12          py37ha925a31_0
cytoolz                   0.10.0           py37he774522_0
dask                      2.1.0                      py_0
dask-core                 2.1.0                      py_0
decorator                 4.4.0                    py37_1
defusedxml                0.6.0                      py_0
distributed               2.1.0                      py_0
docutils                  0.14                     py37_0
entrypoints               0.3                      py37_0
et_xmlfile                1.0.1                    py37_0
fastcache                 1.1.0            py37he774522_0
filelock                  3.0.12                     py_0
flask                     1.1.1                      py_0
freetype                  2.9.1                ha9979f8_1
future                    0.17.1                   py37_0
get_terminal_size         1.0.0                h38e98db_0
gevent                    1.4.0            py37he774522_0
glob2                     0.7                        py_0
greenlet                  0.4.15           py37hfa6e2cd_0
h5py                      2.9.0            py37h5e291fa_0
hdf5                      1.10.4               h7ebc959_0
heapdict                  1.0.0                    py37_2
html5lib                  1.0.1                    py37_0
icc_rt                    2019.0.0             h0cc432a_1
icu                       58.2                 ha66f8fd_1
idna                      2.8                      py37_0
imageio                   2.5.0                    py37_0
imagesize                 1.1.0                    py37_0
importlib_metadata        0.17                     py37_1
intel-openmp              2019.4                      245
ipykernel                 5.1.1            py37h39e3cac_0
ipython                   7.6.1            py37h39e3cac_0
ipython_genutils          0.2.0                    py37_0
ipywidgets                7.5.0                      py_0
isort                     4.3.21                   py37_0
itsdangerous              1.1.0                    py37_0
jdcal                     1.4.1                      py_0
jedi                      0.13.3                   py37_0
jinja2                    2.10.1                   py37_0
joblib                    0.13.2                   py37_0
jpeg                      9b                   hb83a4c4_2
json5                     0.8.4                      py_0
jsonschema                3.0.1                    py37_0
jupyter                   1.0.0                    py37_7
jupyter_client            5.3.1                      py_0
jupyter_console           6.0.0                    py37_0
jupyter_core              4.5.0                      py_0
jupyterlab                1.0.2            py37hf63ae98_0
jupyterlab_server         1.0.0                      py_0
keyring                   18.0.0                   py37_0
kiwisolver                1.1.0            py37ha925a31_0
krb5                      1.16.1               hc04afaa_7
lazy-object-proxy         1.4.1            py37he774522_0
libarchive                3.3.3                h0643e63_5
libcurl                   7.65.2               h2a8f88b_0
libiconv                  1.15                 h1df5818_7
liblief                   0.9.0                ha925a31_2
libpng                    1.6.37               h2a8f88b_0
libsodium                 1.0.16               h9d3ae62_0
libssh2                   1.8.2                h7a1dbc1_0
libtiff                   4.0.10               hb898794_2
libxml2                   2.9.9                h464c3ec_0
libxslt                   1.1.33               h579f668_0
llvmlite                  0.29.0           py37ha925a31_0
locket                    0.2.0                    py37_1
lxml                      4.3.4            py37h1350720_0
lz4-c                     1.8.1.2              h2fa13f4_0
lzo                       2.10                 h6df0209_2
m2w64-gcc-libgfortran     5.3.0                         6
m2w64-gcc-libs            5.3.0                         7
m2w64-gcc-libs-core       5.3.0                         7
m2w64-gmp                 6.1.0                         2
m2w64-libwinpthread-git   5.0.0.4634.697f757               2
markupsafe                1.1.1            py37he774522_0
matplotlib                3.1.0            py37hc8f65d3_0
mccabe                    0.6.1                    py37_1
menuinst                  1.4.16           py37he774522_0
mistune                   0.8.4            py37he774522_0
mkl                       2019.4                      245
mkl-service               2.0.2            py37he774522_0
mkl_fft                   1.0.12           py37h14836fe_0
mkl_random                1.0.2            py37h343c172_0
mock                      3.0.5                    py37_0
more-itertools            7.0.0                    py37_0
mpmath                    1.1.0                    py37_0
msgpack-python            0.6.1            py37h74a9793_1
msys2-conda-epoch         20160418                      1
multipledispatch          0.6.0                    py37_0
navigator-updater         0.2.1                    py37_0
nbconvert                 5.5.0                      py_0
nbformat                  4.4.0                    py37_0
networkx                  2.3                        py_0
nltk                      3.4.4                    py37_0
nose                      1.3.7                    py37_2
notebook                  6.0.0                    py37_0
numba                     0.44.1           py37hf9181ef_0
numexpr                   2.6.9            py37hdce8814_0
numpy                     1.16.4           py37h19fb1c0_0
numpy-base                1.16.4           py37hc3f5095_0
numpydoc                  0.9.1                      py_0
olefile                   0.46                     py37_0
openpyxl                  2.6.2                      py_0
openssl                   1.1.1c               he774522_1
packaging                 19.0                     py37_0
pandas                    0.24.2           py37ha925a31_0
pandoc                    2.2.3.2                       0
pandocfilters             1.4.2                    py37_1
parso                     0.5.0                      py_0
partd                     1.0.0                      py_0
path.py                   12.0.1                     py_0
pathlib2                  2.3.4                    py37_0
patsy                     0.5.1                    py37_0
pep8                      1.7.1                    py37_0
pickleshare               0.7.5                    py37_0
pillow                    6.1.0            py37hdc69c19_0
pip                       19.1.1                   py37_0
pkginfo                   1.5.0.1                  py37_0
pluggy                    0.12.0                     py_0
ply                       3.11                     py37_0
powershell_shortcut       0.0.1                         2
prometheus_client         0.7.1                      py_0
prompt_toolkit            2.0.9                    py37_0
psutil                    5.6.3            py37he774522_0
py                        1.8.0                    py37_0
py-lief                   0.9.0            py37ha925a31_2
pycodestyle               2.5.0                    py37_0
pycosat                   0.6.3            py37hfa6e2cd_0
pycparser                 2.19                     py37_0
pycrypto                  2.6.1            py37hfa6e2cd_9
pycurl                    7.43.0.3         py37h7a1dbc1_0
pyflakes                  2.1.1                    py37_0
pygments                  2.4.2                      py_0
pylint                    2.3.1                    py37_0
pyodbc                    4.0.26           py37ha925a31_0
pyopenssl                 19.0.0                   py37_0
pyparsing                 2.4.0                      py_0
pyqt                      5.9.2            py37h6538335_2
pyreadline                2.1                      py37_1
pyrsistent                0.14.11          py37he774522_0
pysocks                   1.7.0                    py37_0
pytables                  3.5.2            py37h1da0976_1
pytest                    5.0.1                    py37_0
pytest-arraydiff          0.3              py37h39e3cac_0
pytest-astropy            0.5.0                    py37_0
pytest-doctestplus        0.3.0                    py37_0
pytest-openfiles          0.3.2                    py37_0
pytest-remotedata         0.3.1                    py37_0
python                    3.7.3                h8c8aaf0_1
python-dateutil           2.8.0                    py37_0
python-libarchive-c       2.8                     py37_11
pytz                      2019.1                     py_0
pywavelets                1.0.3            py37h8c2d366_1
pywin32                   223              py37hfa6e2cd_1
pywinpty                  0.5.5                 py37_1000
pyyaml                    5.1.1            py37he774522_0
pyzmq                     18.0.0           py37ha925a31_0
qt                        5.9.7            vc14h73c81de_0
qtawesome                 0.5.7                    py37_1
qtconsole                 4.5.1                      py_0
qtpy                      1.8.0                      py_0
requests                  2.22.0                   py37_0
rope                      0.14.0                     py_0
ruamel_yaml               0.15.46          py37hfa6e2cd_0
scikit-image              0.15.0           py37ha925a31_0
scikit-learn              0.21.2           py37h6288b17_0
scipy                     1.2.1            py37h29ff71c_0
seaborn                   0.9.0                    py37_0
send2trash                1.5.0                    py37_0
setuptools                41.0.1                   py37_0
simplegeneric             0.8.1                    py37_2
singledispatch            3.4.0.3                  py37_0
sip                       4.19.8           py37h6538335_0
six                       1.12.0                   py37_0
snappy                    1.1.7                h777316e_3
snowballstemmer           1.9.0                      py_0
sortedcollections         1.1.2                    py37_0
sortedcontainers          2.1.0                    py37_0
soupsieve                 1.8                      py37_0
sphinx                    2.1.2                      py_0
sphinxcontrib             1.0                      py37_1
sphinxcontrib-applehelp   1.0.1                      py_0
sphinxcontrib-devhelp     1.0.1                      py_0
sphinxcontrib-htmlhelp    1.0.2                      py_0
sphinxcontrib-jsmath      1.0.1                      py_0
sphinxcontrib-qthelp      1.0.2                      py_0
sphinxcontrib-serializinghtml 1.1.3                      py_0
sphinxcontrib-websupport  1.1.2                      py_0
spyder                    3.3.6                    py37_0
spyder-kernels            0.5.1                    py37_0
sqlalchemy                1.3.5            py37he774522_0
sqlite                    3.29.0               he774522_0
statsmodels               0.10.0           py37h8c2d366_0
sympy                     1.4                      py37_0
tblib                     1.4.0                      py_0
terminado                 0.8.2                    py37_0
testpath                  0.4.2                    py37_0
tk                        8.6.8                hfa6e2cd_0
toolz                     0.10.0                     py_0
tornado                   6.0.3            py37he774522_0
tqdm                      4.32.1                     py_0
traitlets                 4.3.2                    py37_0
unicodecsv                0.14.1                   py37_0
urllib3                   1.24.2                   py37_0
vc                        14.1                 h0510ff6_4
vs2015_runtime            14.15.26706          h3a45250_4
wcwidth                   0.1.7                    py37_0
webencodings              0.5.1                    py37_1
werkzeug                  0.15.4                     py_0
wheel                     0.33.4                   py37_0
widgetsnbextension        3.5.0                    py37_0
win_inet_pton             1.1.0                    py37_0
win_unicode_console       0.5                      py37_0
wincertstore              0.2                      py37_0
winpty                    0.4.3                         4
wrapt                     1.11.2           py37he774522_0
xlrd                      1.2.0                    py37_0
xlsxwriter                1.1.8                      py_0
xlwings                   0.15.8                   py37_0
xlwt                      1.3.0                    py37_0
xz                        5.2.4                h2fa13f4_4
yaml                      0.1.7                hc54c509_2
zeromq                    4.3.1                h33f27b4_3
zict                      1.0.0                      py_0
zipp                      0.5.1                      py_0
zlib                      1.2.11               h62dcd97_3
zstd                      1.3.7                h508b16e_0

# Analyzing non-numerical Series

In [1]:
import pandas as pd

In [2]:
summer = pd.read_csv('summer.csv')

In [3]:
summer.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver

In [4]:
summer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31165 entries, 0 to 31164
Data columns (total 9 columns):
Year          31165 non-null int64
City          31165 non-null object
Sport         31165 non-null object
Discipline    31165 non-null object
Athlete       31165 non-null object
Country       31161 non-null object
Gender        31165 non-null object
Event         31165 non-null object
Medal         31165 non-null object
dtypes: int64(1), object(8)
memory usage: 2.1+ MB

In [5]:
athlete = summer["Athlete"]

In [6]:
athlete.head()

0         HAJOS, Alfred
1      HERSCHMANN, Otto
2     DRIVAS, Dimitrios
3    MALOKINIS, Ioannis
4    CHASAPIS, Spiridon
Name: Athlete, dtype: object

In [7]:
athlete.tail(5)

31160           JANIKOWSKI, Damian
31161    REZAEI, Ghasem Gholamreza
31162               TOTROV, Rustam
31163            ALEKSANYAN, Artur
31164               LIDBERG, Jimmy
Name: Athlete, dtype: object

In [8]:
type(athlete)

pandas.core.series.Series

In [9]:
athlete.dtype

dtype('O')

In [10]:
athlete.shape

(31165,)

In [11]:
athlete.describe()

count               31165
unique              22762
top       PHELPS, Michael
freq                   22
Name: Athlete, dtype: object

In [12]:
athlete.size

31165

In [13]:
athlete.count()

31165

In [14]:
athlete.min()

'AABYE, Edgar'

In [15]:
athlete.unique()

array(['HAJOS, Alfred', 'HERSCHMANN, Otto', 'DRIVAS, Dimitrios', ...,
       'TOTROV, Rustam', 'ALEKSANYAN, Artur', 'LIDBERG, Jimmy'],
      dtype=object)

In [19]:
len(athlete.unique())

22762

In [20]:
athlete.nunique(dropna=False)

22762

In [21]:
athlete.value_counts()

PHELPS, Michael                 22
LATYNINA, Larisa                18
ANDRIANOV, Nikolay              15
SHAKHLIN, Boris                 13
MANGIAROTTI, Edoardo            13
ONO, Takashi                    13
NURMI, Paavo                    12
TORRES, Dara                    12
FISCHER, Birgit                 12
THOMPSON, Jenny                 12
NEMOV, Alexei                   12
COUGHLIN, Natalie               12
KATO, Sawao                     12
OSBURN, Carl Townsend           11
BIONDI, Matthew                 11
SPITZ, Mark                     11
CASLAVSKA, Vera                 11
LOCHTE, Ryan                    11
CHUKARIN, Viktor Ivanovich      11
LEWIS, Carl                     10
GEREVICH, Aladar                10
SCHERBO, Vitaly                 10
HALL, Gary Jr.                  10
DITYATIN, Aleksandr             10
NAKAYAMA, Akinori               10
ASTAKHOVA, Polina               10
VAN ALMSICK, Franziska          10
KELETI, Agnes                   10
TSUKAHARA, Mitsuo                9
THORPE, Ian                      9
                                ..
DEKKERS, Hurnet                  1
TIKHANOV, Vasili                 1
FIAT, Gheorghe                   1
DAVAAJAV, Jamtsying              1
WIRZ, Rudolf                     1
GUSHCHIN, Aleksei                1
MARZOLLA, Gianfranco             1
PAVLOVA, Larisa                  1
GROC, Patrick                    1
DAVENPORT, Ira Nelson            1
FANSHAWE, Richard Gennys         1
JOHANSSON, Bernt                 1
NEAL, Blaine                     1
TSANG, Tosha                     1
CORNELIUS, Torleiv Schibsted     1
BARTL, Franz                     1
HORNIG, Carola                   1
SÄTERSDAL, Per Albert            1
BROWN, Horace Hallock            1
ZHANG, Bing                      1
ILEGEMS, Roger                   1
PEKA, Jan                        1
PETCHKOOM, Worapoj               1
PARKER, William Lorenzo          1
DOUBELL, Ralph                   1
ILYIN, Vasili                    1
COCHRANE, Blair Onslow           1
ZHU, Yingwen                     1
WHITTEN, Tara                    1
JOYNER, Alfredrick Alphonzo      1
Name: Athlete, Length: 22762, dtype: int64

In [22]:
athlete.value_counts(sort = True, ascending=True)

JOYNER, Alfredrick Alphonzo      1
WHITTEN, Tara                    1
ZHU, Yingwen                     1
COCHRANE, Blair Onslow           1
ILYIN, Vasili                    1
DOUBELL, Ralph                   1
PARKER, William Lorenzo          1
PETCHKOOM, Worapoj               1
PEKA, Jan                        1
ILEGEMS, Roger                   1
ZHANG, Bing                      1
BROWN, Horace Hallock            1
SÄTERSDAL, Per Albert            1
HORNIG, Carola                   1
BARTL, Franz                     1
CORNELIUS, Torleiv Schibsted     1
TSANG, Tosha                     1
NEAL, Blaine                     1
JOHANSSON, Bernt                 1
FANSHAWE, Richard Gennys         1
DAVENPORT, Ira Nelson            1
GROC, Patrick                    1
PAVLOVA, Larisa                  1
MARZOLLA, Gianfranco             1
GUSHCHIN, Aleksei                1
WIRZ, Rudolf                     1
DAVAAJAV, Jamtsying              1
FIAT, Gheorghe                   1
TIKHANOV, Vasili                 1
DEKKERS, Hurnet                  1
                                ..
THORPE, Ian                      9
TSUKAHARA, Mitsuo                9
KELETI, Agnes                   10
VAN ALMSICK, Franziska          10
ASTAKHOVA, Polina               10
NAKAYAMA, Akinori               10
DITYATIN, Aleksandr             10
HALL, Gary Jr.                  10
SCHERBO, Vitaly                 10
GEREVICH, Aladar                10
LEWIS, Carl                     10
CHUKARIN, Viktor Ivanovich      11
LOCHTE, Ryan                    11
CASLAVSKA, Vera                 11
SPITZ, Mark                     11
BIONDI, Matthew                 11
OSBURN, Carl Townsend           11
KATO, Sawao                     12
COUGHLIN, Natalie               12
NEMOV, Alexei                   12
THOMPSON, Jenny                 12
FISCHER, Birgit                 12
TORRES, Dara                    12
NURMI, Paavo                    12
ONO, Takashi                    13
MANGIAROTTI, Edoardo            13
SHAKHLIN, Boris                 13
ANDRIANOV, Nikolay              15
LATYNINA, Larisa                18
PHELPS, Michael                 22
Name: Athlete, Length: 22762, dtype: int64

In [23]:
athlete.value_counts(sort=True, ascending=False, normalize=True).head()

PHELPS, Michael         0.000706
LATYNINA, Larisa        0.000578
ANDRIANOV, Nikolay      0.000481
SHAKHLIN, Boris         0.000417
MANGIAROTTI, Edoardo    0.000417
Name: Athlete, dtype: float64

In [1]:
import pandas as pd

# Creating Pandas Series (part 1)

In [2]:
import pandas as pd

In [3]:
summer = pd.read_csv("summer.csv")

In [4]:
summer.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver

In [5]:
summer["Athlete"]

0                            HAJOS, Alfred
1                         HERSCHMANN, Otto
2                        DRIVAS, Dimitrios
3                       MALOKINIS, Ioannis
4                       CHASAPIS, Spiridon
5                    CHOROPHAS, Efstathios
6                            HAJOS, Alfred
7                         ANDREOU, Joannis
8                    CHOROPHAS, Efstathios
9                            NEUMANN, Paul
10                       PEPANOS, Antonios
11                           LANE, Francis
12                        SZOKOLYI, Alajos
13                           BURKE, Thomas
14                          HOFMANN, Fritz
15                          CURTIS, Thomas
16                      GOULDING, Grantley
17                       LERMUSIAUX, Albin
18                            FLACK, Edwin
19                           BLAKE, Arthur
20                         GMELIN, Charles
21                           BURKE, Thomas
22                        JAMISON, Herbert
23                      GOLEMIS, Dimitrios
24                            FLACK, Edwin
25                            DANI, Nandor
26                        VERSIS, Sotirios
27                         GARRETT, Robert
28             PARASKEVOPOULOS, Panagiotis
29                           CLARK, Ellery
                       ...
31135                     GAZYUMOV, Khetag
31136                  GOGSHELIDZE, George
31137                  LOPEZ NUNEZ, Mijain
31138                          NABI, Heiki
31139                         EUREN, Johan
31140                        KAYAALP, Riza
31141    SORYAN REIHANPOUR, Hamid Mohammad
31142                    BAYRAMOV, Rovshan
31143                         MODOS, Peter
31144                    SEMENOV, Mingiyan
31145                   NOROOZI, Omid Haji
31146                       LASHKHI, Revaz
31147                  KURAMAGOMEDOV, Zaur
31148                   MATSUMOTO, Ryutaro
31149                        KIM, Hyeonwoo
31150                       LORINCZ, Tamas
31151                       GUENOT, Steeve
31152                  TSKHADAIA, Manuchar
31153                        VLASOV, Roman
31154                   JULFALAKYAN, Arsen
31155                        AHMADOV, Emin
31156                 KAZAKEVIC, Aleksandr
31157                        KHUGAEV, Alan
31158         EBRAHIM, Karam Mohamed Gaber
31159                      GAJIYEV, Danyal
31160                   JANIKOWSKI, Damian
31161            REZAEI, Ghasem Gholamreza
31162                       TOTROV, Rustam
31163                    ALEKSANYAN, Artur
31164                       LIDBERG, Jimmy
Name: Athlete, Length: 31165, dtype: object

In [6]:
summer.Athlete

0                            HAJOS, Alfred
1                         HERSCHMANN, Otto
2                        DRIVAS, Dimitrios
3                       MALOKINIS, Ioannis
4                       CHASAPIS, Spiridon
5                    CHOROPHAS, Efstathios
6                            HAJOS, Alfred
7                         ANDREOU, Joannis
8                    CHOROPHAS, Efstathios
9                            NEUMANN, Paul
10                       PEPANOS, Antonios
11                           LANE, Francis
12                        SZOKOLYI, Alajos
13                           BURKE, Thomas
14                          HOFMANN, Fritz
15                          CURTIS, Thomas
16                      GOULDING, Grantley
17                       LERMUSIAUX, Albin
18                            FLACK, Edwin
19                           BLAKE, Arthur
20                         GMELIN, Charles
21                           BURKE, Thomas
22                        JAMISON, Herbert
23                      GOLEMIS, Dimitrios
24                            FLACK, Edwin
25                            DANI, Nandor
26                        VERSIS, Sotirios
27                         GARRETT, Robert
28             PARASKEVOPOULOS, Panagiotis
29                           CLARK, Ellery
                       ...
31135                     GAZYUMOV, Khetag
31136                  GOGSHELIDZE, George
31137                  LOPEZ NUNEZ, Mijain
31138                          NABI, Heiki
31139                         EUREN, Johan
31140                        KAYAALP, Riza
31141    SORYAN REIHANPOUR, Hamid Mohammad
31142                    BAYRAMOV, Rovshan
31143                         MODOS, Peter
31144                    SEMENOV, Mingiyan
31145                   NOROOZI, Omid Haji
31146                       LASHKHI, Revaz
31147                  KURAMAGOMEDOV, Zaur
31148                   MATSUMOTO, Ryutaro
31149                        KIM, Hyeonwoo
31150                       LORINCZ, Tamas
31151                       GUENOT, Steeve
31152                  TSKHADAIA, Manuchar
31153                        VLASOV, Roman
31154                   JULFALAKYAN, Arsen
31155                        AHMADOV, Emin
31156                 KAZAKEVIC, Aleksandr
31157                        KHUGAEV, Alan
31158         EBRAHIM, Karam Mohamed Gaber
31159                      GAJIYEV, Danyal
31160                   JANIKOWSKI, Damian
31161            REZAEI, Ghasem Gholamreza
31162                       TOTROV, Rustam
31163                    ALEKSANYAN, Artur
31164                       LIDBERG, Jimmy
Name: Athlete, Length: 31165, dtype: object

In [7]:
summer.iloc[0]

Year                    1896
City                  Athens
Sport               Aquatics
Discipline          Swimming
Athlete        HAJOS, Alfred
Country                  HUN
Gender                   Men
Event         100M Freestyle
Medal                   Gold
Name: 0, dtype: object

#### importing from csv

In [9]:
pd.read_csv("summer.csv", usecols=["Athlete"], squeeze = True)

0                            HAJOS, Alfred
1                         HERSCHMANN, Otto
2                        DRIVAS, Dimitrios
3                       MALOKINIS, Ioannis
4                       CHASAPIS, Spiridon
5                    CHOROPHAS, Efstathios
6                            HAJOS, Alfred
7                         ANDREOU, Joannis
8                    CHOROPHAS, Efstathios
9                            NEUMANN, Paul
10                       PEPANOS, Antonios
11                           LANE, Francis
12                        SZOKOLYI, Alajos
13                           BURKE, Thomas
14                          HOFMANN, Fritz
15                          CURTIS, Thomas
16                      GOULDING, Grantley
17                       LERMUSIAUX, Albin
18                            FLACK, Edwin
19                           BLAKE, Arthur
20                         GMELIN, Charles
21                           BURKE, Thomas
22                        JAMISON, Herbert
23                      GOLEMIS, Dimitrios
24                            FLACK, Edwin
25                            DANI, Nandor
26                        VERSIS, Sotirios
27                         GARRETT, Robert
28             PARASKEVOPOULOS, Panagiotis
29                           CLARK, Ellery
                       ...
31135                     GAZYUMOV, Khetag
31136                  GOGSHELIDZE, George
31137                  LOPEZ NUNEZ, Mijain
31138                          NABI, Heiki
31139                         EUREN, Johan
31140                        KAYAALP, Riza
31141    SORYAN REIHANPOUR, Hamid Mohammad
31142                    BAYRAMOV, Rovshan
31143                         MODOS, Peter
31144                    SEMENOV, Mingiyan
31145                   NOROOZI, Omid Haji
31146                       LASHKHI, Revaz
31147                  KURAMAGOMEDOV, Zaur
31148                   MATSUMOTO, Ryutaro
31149                        KIM, Hyeonwoo
31150                       LORINCZ, Tamas
31151                       GUENOT, Steeve
31152                  TSKHADAIA, Manuchar
31153                        VLASOV, Roman
31154                   JULFALAKYAN, Arsen
31155                        AHMADOV, Emin
31156                 KAZAKEVIC, Aleksandr
31157                        KHUGAEV, Alan
31158         EBRAHIM, Karam Mohamed Gaber
31159                      GAJIYEV, Danyal
31160                   JANIKOWSKI, Damian
31161            REZAEI, Ghasem Gholamreza
31162                       TOTROV, Rustam
31163                    ALEKSANYAN, Artur
31164                       LIDBERG, Jimmy
Name: Athlete, Length: 31165, dtype: object

### Creating from scratch with pd.Series()

In [10]:
pd.Series([10,25,6,36,2])

0    10
1    25
2     6
3    36
4     2
dtype: int64

In [11]:
pd.Series([10,25,6,36,2], index=["Mon", "Tue", "Wed", "Thu", "Fri"])

Mon    10
Tue    25
Wed     6
Thu    36
Fri     2
dtype: int64

In [12]:
pd.Series([10, 25, 6, 36, 2], index=["Mon", "Tue", "Wed", "Thu", "Fri"], name="Sales")

Mon    10
Tue    25
Wed     6
Thu    36
Fri     2
Name: Sales, dtype: int64

## Creating Pandas Series (Part 2)

In [14]:
import pandas as pd
import numpy as np

In [15]:
sales = np.array([10,25,6,36,2])
sales

array([10, 25,  6, 36,  2])

In [16]:
pd.Series(sales)

0    10
1    25
2     6
3    36
4     2
dtype: int32

In [19]:
sales = (10, 25, 6, 36, 2)

In [20]:
pd.Series(sales)

0    10
1    25
2     6
3    36
4     2
dtype: int64

In [21]:
# from dictionary
dic = {"Mon":10, "Tue":25, "Wed":6, "Thu":26, "Fri":2}
dic

{'Mon': 10, 'Tue': 25, 'Wed': 6, 'Thu': 26, 'Fri': 2}

In [22]:
sales = pd.Series(dic)

In [23]:
sales

Mon    10
Tue    25
Wed     6
Thu    26
Fri     2
dtype: int64

In [24]:
pd.Series(dic, index = ["Fri", "Sat", "Sun", "Mon", "Tue", "Wed"])

Fri     2.0
Sat     NaN
Sun     NaN
Mon    10.0
Tue    25.0
Wed     6.0
dtype: float64

In [25]:
pd.Series(dic, index=[1,2,3,4,5])

1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
dtype: float64

## Indexing and slicing

In [26]:
import pandas as pd

In [27]:
titanic = pd.read_csv("titanic.csv")

In [28]:
titanic.head()

   survived  pclass     sex   age  sibsp  parch     fare embarked deck
0         0       3    male  22.0      1      0   7.2500        S  NaN
1         1       1  female  38.0      1      0  71.2833        C    C
2         1       3  female  26.0      0      0   7.9250        S  NaN
3         1       1  female  35.0      1      0  53.1000        S    C
4         0       3    male  35.0      0      0   8.0500        S  NaN

In [29]:
titanic.tail()

     survived  pclass     sex   age  sibsp  parch   fare embarked deck
886         0       2    male  27.0      0      0  13.00        S  NaN
887         1       1  female  19.0      0      0  30.00        S    B
888         0       3  female   NaN      1      2  23.45        S  NaN
889         1       1    male  26.0      0      0  30.00        C    C
890         0       3    male  32.0      0      0   7.75        Q  NaN

In [30]:
age = titanic.age

In [31]:
age.head()

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
Name: age, dtype: float64

In [32]:
age.tail()

886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: age, dtype: float64

In [33]:
age.index

RangeIndex(start=0, stop=891, step=1)

In [34]:
age[0]

22.0

In [35]:
age[2]

26.0

In [36]:
age.iloc[-1]

32.0

In [38]:
age[890]

32.0

In [39]:
age[[3,4]]

3    35.0
4    35.0
Name: age, dtype: float64

In [40]:
age[:3]

0    22.0
1    38.0
2    26.0
Name: age, dtype: float64

In [41]:
summer = pd.read_csv("summer.csv", index_col="Athlete")

In [42]:
summer.head()

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver

In [43]:
summer.tail()

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"JANIKOWSKI, Damian",2012,London,Wrestling,Wrestling Freestyle,POL,Men,Wg 84 KG,Bronze
"REZAEI, Ghasem Gholamreza",2012,London,Wrestling,Wrestling Freestyle,IRI,Men,Wg 96 KG,Gold
"TOTROV, Rustam",2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 96 KG,Silver
"ALEKSANYAN, Artur",2012,London,Wrestling,Wrestling Freestyle,ARM,Men,Wg 96 KG,Bronze
"LIDBERG, Jimmy",2012,London,Wrestling,Wrestling Freestyle,SWE,Men,Wg 96 KG,Bronze

In [44]:
event = summer.Event

In [45]:
event.head()

Athlete
HAJOS, Alfred                     100M Freestyle
HERSCHMANN, Otto                  100M Freestyle
DRIVAS, Dimitrios     100M Freestyle For Sailors
MALOKINIS, Ioannis    100M Freestyle For Sailors
CHASAPIS, Spiridon    100M Freestyle For Sailors
Name: Event, dtype: object

In [46]:
event.tail()

Athlete
JANIKOWSKI, Damian           Wg 84 KG
REZAEI, Ghasem Gholamreza    Wg 96 KG
TOTROV, Rustam               Wg 96 KG
ALEKSANYAN, Artur            Wg 96 KG
LIDBERG, Jimmy               Wg 96 KG
Name: Event, dtype: object

In [47]:
event.index

Index(['HAJOS, Alfred', 'HERSCHMANN, Otto', 'DRIVAS, Dimitrios',
       'MALOKINIS, Ioannis', 'CHASAPIS, Spiridon', 'CHOROPHAS, Efstathios',
       'HAJOS, Alfred', 'ANDREOU, Joannis', 'CHOROPHAS, Efstathios',
       'NEUMANN, Paul',
       ...
       'AHMADOV, Emin', 'KAZAKEVIC, Aleksandr', 'KHUGAEV, Alan',
       'EBRAHIM, Karam Mohamed Gaber', 'GAJIYEV, Danyal', 'JANIKOWSKI, Damian',
       'REZAEI, Ghasem Gholamreza', 'TOTROV, Rustam', 'ALEKSANYAN, Artur',
       'LIDBERG, Jimmy'],
      dtype='object', name='Athlete', length=31165)

In [48]:
event[0]

'100M Freestyle'

In [49]:
event[1]

'100M Freestyle'

In [50]:
event[-1]

'Wg 96 KG'

In [54]:
event.iloc[:3]

Athlete
HAJOS, Alfred                    100M Freestyle
HERSCHMANN, Otto                 100M Freestyle
DRIVAS, Dimitrios    100M Freestyle For Sailors
Name: Event, dtype: object

In [56]:
event["DRIVAS, Dimitrios"]

'100M Freestyle For Sailors'

In [57]:
event[:"DRIVAS, Dimitrios"]

Athlete
HAJOS, Alfred                    100M Freestyle
HERSCHMANN, Otto                 100M Freestyle
DRIVAS, Dimitrios    100M Freestyle For Sailors
Name: Event, dtype: object

In [58]:
event["PHELPS, Michael"]

PHELPS, Michael            100M Butterfly
PHELPS, Michael            200M Butterfly
PHELPS, Michael            200M Freestyle
PHELPS, Michael    200M Individual Medley
PHELPS, Michael    400M Individual Medley
PHELPS, Michael    4X100M Freestyle Relay
PHELPS, Michael       4X100M Medley Relay
PHELPS, Michael    4X200M Freestyle Relay
PHELPS, Michael            100M Butterfly
PHELPS, Michael            200M Butterfly
PHELPS, Michael            200M Freestyle
PHELPS, Michael    200M Individual Medley
PHELPS, Michael    400M Individual Medley
PHELPS, Michael    4X100M Freestyle Relay
PHELPS, Michael       4X100M Medley Relay
PHELPS, Michael    4X200M Freestyle Relay
PHELPS, Michael            100M Butterfly
PHELPS, Michael            200M Butterfly
PHELPS, Michael               200M Medley
PHELPS, Michael          4X100M Freestyle
PHELPS, Michael             4X100M Medley
PHELPS, Michael          4X200M Freestyle
Name: Event, dtype: object

In [59]:
event.loc["PHELPS, Michael"]

Athlete
PHELPS, Michael            100M Butterfly
PHELPS, Michael            200M Butterfly
PHELPS, Michael            200M Freestyle
PHELPS, Michael    200M Individual Medley
PHELPS, Michael    400M Individual Medley
PHELPS, Michael    4X100M Freestyle Relay
PHELPS, Michael       4X100M Medley Relay
PHELPS, Michael    4X200M Freestyle Relay
PHELPS, Michael            100M Butterfly
PHELPS, Michael            200M Butterfly
PHELPS, Michael            200M Freestyle
PHELPS, Michael    200M Individual Medley
PHELPS, Michael    400M Individual Medley
PHELPS, Michael    4X100M Freestyle Relay
PHELPS, Michael       4X100M Medley Relay
PHELPS, Michael    4X200M Freestyle Relay
PHELPS, Michael            100M Butterfly
PHELPS, Michael            200M Butterfly
PHELPS, Michael               200M Medley
PHELPS, Michael          4X100M Freestyle
PHELPS, Michael             4X100M Medley
PHELPS, Michael          4X200M Freestyle
Name: Event, dtype: object

In [62]:
event[:"PHELPS, Michael"]

KeyError: "Cannot get right slice bound for non-unique label: 'PHELPS, Michael'"

In [63]:
event[["PHELPS, Michael", "LEWIS, Carl"]]

Athlete
PHELPS, Michael            100M Butterfly
PHELPS, Michael            200M Butterfly
PHELPS, Michael            200M Freestyle
PHELPS, Michael    200M Individual Medley
PHELPS, Michael    400M Individual Medley
PHELPS, Michael    4X100M Freestyle Relay
PHELPS, Michael       4X100M Medley Relay
PHELPS, Michael    4X200M Freestyle Relay
PHELPS, Michael            100M Butterfly
PHELPS, Michael            200M Butterfly
PHELPS, Michael            200M Freestyle
PHELPS, Michael    200M Individual Medley
PHELPS, Michael    400M Individual Medley
PHELPS, Michael    4X100M Freestyle Relay
PHELPS, Michael       4X100M Medley Relay
PHELPS, Michael    4X200M Freestyle Relay
PHELPS, Michael            100M Butterfly
PHELPS, Michael            200M Butterfly
PHELPS, Michael               200M Medley
PHELPS, Michael          4X100M Freestyle
PHELPS, Michael             4X100M Medley
PHELPS, Michael          4X200M Freestyle
LEWIS, Carl                          100M
LEWIS, Carl                          200M
LEWIS, Carl                  4X100M Relay
LEWIS, Carl                     Long Jump
LEWIS, Carl                          100M
LEWIS, Carl                          200M
LEWIS, Carl                     Long Jump
LEWIS, Carl                  4X100M Relay
LEWIS, Carl                     Long Jump
LEWIS, Carl                     Long Jump
Name: Event, dtype: object

In [64]:
event[["PHELPS, Michael", "DUCK, Donald"]]

C:\Users\HP\Anaconda3\lib\site-packages\pandas\core\series.py:951: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self.loc[key]

Athlete
PHELPS, Michael            100M Butterfly
PHELPS, Michael            200M Butterfly
PHELPS, Michael            200M Freestyle
PHELPS, Michael    200M Individual Medley
PHELPS, Michael    400M Individual Medley
PHELPS, Michael    4X100M Freestyle Relay
PHELPS, Michael       4X100M Medley Relay
PHELPS, Michael    4X200M Freestyle Relay
PHELPS, Michael            100M Butterfly
PHELPS, Michael            200M Butterfly
PHELPS, Michael            200M Freestyle
PHELPS, Michael    200M Individual Medley
PHELPS, Michael    400M Individual Medley
PHELPS, Michael    4X100M Freestyle Relay
PHELPS, Michael       4X100M Medley Relay
PHELPS, Michael    4X200M Freestyle Relay
PHELPS, Michael            100M Butterfly
PHELPS, Michael            200M Butterfly
PHELPS, Michael               200M Medley
PHELPS, Michael          4X100M Freestyle
PHELPS, Michael             4X100M Medley
PHELPS, Michael          4X200M Freestyle
DUCK, Donald                          NaN
Name: Event, dtype: object

## Sorting and introduction to the inplace-parameter

In [65]:
import pandas as pd

In [66]:
dic = {1:10, 3:25, 2:6, 4:36, 5:2, 6:0, 7:None}
dic

{1: 10, 3: 25, 2: 6, 4: 36, 5: 2, 6: 0, 7: None}

In [67]:
sales = pd.Series(dic)
sales

1    10.0
3    25.0
2     6.0
4    36.0
5     2.0
6     0.0
7     NaN
dtype: float64

In [68]:
sales.sort_index()

1    10.0
2     6.0
3    25.0
4    36.0
5     2.0
6     0.0
7     NaN
dtype: float64

In [73]:
sales.sort_index(ascending=True, inplace=True)

In [74]:
sales

1    10.0
2     6.0
3    25.0
4    36.0
5     2.0
6     0.0
7     NaN
dtype: float64

In [76]:
sales.sort_values(inplace=False)

6     0.0
5     2.0
2     6.0
1    10.0
3    25.0
4    36.0
7     NaN
dtype: float64

In [79]:
sales.sort_values(ascending=False, na_position="last", inplace=True)

In [80]:
sales

4    36.0
3    25.0
1    10.0
2     6.0
5     2.0
6     0.0
7     NaN
dtype: float64

In [81]:
dic = {"Mon":10, "Tue":25, "Wed":6, "Thu": 36, "Fri": 2}
dic

{'Mon': 10, 'Tue': 25, 'Wed': 6, 'Thu': 36, 'Fri': 2}

In [82]:
sales = pd.Series(dic)

In [83]:
sales

Mon    10
Tue    25
Wed     6
Thu    36
Fri     2
dtype: int64

In [84]:
sales.sort_index(ascending=False)

Wed     6
Tue    25
Thu    36
Mon    10
Fri     2
dtype: int64

### nlargest() and nsmallest()

In [85]:
import pandas as pd

In [86]:
titanic = pd.read_csv("titanic.csv")

In [88]:
titanic.head()

   survived  pclass     sex   age  sibsp  parch     fare embarked deck
0         0       3    male  22.0      1      0   7.2500        S  NaN
1         1       1  female  38.0      1      0  71.2833        C    C
2         1       3  female  26.0      0      0   7.9250        S  NaN
3         1       1  female  35.0      1      0  53.1000        S    C
4         0       3    male  35.0      0      0   8.0500        S  NaN

In [89]:
titanic.tail()

     survived  pclass     sex   age  sibsp  parch   fare embarked deck
886         0       2    male  27.0      0      0  13.00        S  NaN
887         1       1  female  19.0      0      0  30.00        S    B
888         0       3  female   NaN      1      2  23.45        S  NaN
889         1       1    male  26.0      0      0  30.00        C    C
890         0       3    male  32.0      0      0   7.75        Q  NaN

In [90]:
age = titanic.age

In [92]:
age.sort_values(ascending=False).head()

630    80.0
851    74.0
96     71.0
493    71.0
116    70.5
Name: age, dtype: float64

In [93]:
age.nlargest()

630    80.0
851    74.0
96     71.0
493    71.0
116    70.5
Name: age, dtype: float64

In [94]:
age.nsmallest()

803    0.42
755    0.67
469    0.75
644    0.75
78     0.83
Name: age, dtype: float64

In [95]:
age.sort_values(ascending=True).iloc[:3]

803    0.42
755    0.67
644    0.75
Name: age, dtype: float64

In [97]:
age.nsmallest()

803    0.42
755    0.67
469    0.75
644    0.75
78     0.83
Name: age, dtype: float64

## idxmin() and idxmax()

In [98]:
titanic.head()

   survived  pclass     sex   age  sibsp  parch     fare embarked deck
0         0       3    male  22.0      1      0   7.2500        S  NaN
1         1       1  female  38.0      1      0  71.2833        C    C
2         1       3  female  26.0      0      0   7.9250        S  NaN
3         1       1  female  35.0      1      0  53.1000        S    C
4         0       3    male  35.0      0      0   8.0500        S  NaN

In [100]:
titanic.age.idxmax()

630

In [101]:
titanic.age.idxmin()

803

In [102]:
titanic.loc[630]

survived       1
pclass         1
sex         male
age           80
sibsp          0
parch          0
fare          30
embarked       S
deck           A
Name: 630, dtype: object

In [103]:
titanic.loc[titanic.age.idxmin()]

survived         1
pclass           3
sex           male
age           0.42
sibsp            0
parch            1
fare        8.5167
embarked         C
deck           NaN
Name: 803, dtype: object

In [104]:
sales = pd.Series(dic)
sales

Mon    10
Tue    25
Wed     6
Thu    36
Fri     2
dtype: int64

In [105]:
sales.sort_values(ascending=True).index[0]

'Fri'

In [106]:
sales.idxmin()

'Fri'

In [107]:
sales.sort_values(ascending=False).index[0]

'Thu'

In [108]:
titanic = pd.read_csv("titanic.csv")